<%= content_tag :div,
id: "team-form",
data: {
  team: team.to_json(except: [:created_at, :updated_at]),
  players_attributes: team.players.to_json(except: [:team_id, :created_at, :updated_at])
} do %>
  <label>Team Name</label>
  <input type="text" v-model="team.name"/>

  <h4>Players</h4>
  <div v-for="(player, index) in team.players_attributes">
    <label>Player Name</label>
    <input type="text" v-model="player.name"/>
    <button @click="removePlayer(index)">Remove Player</button>
  </div>

  <button @click="addPlayer">Add Player</button>
<% end %>
